.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user
        tomo
      .side-bar__header__box__menu
        .side-bar__header__box__menu__new-group
        = link_to "#", class: "contents__btn" do
          = icon("fas", "edit", class: "contents__btn--icon")
          %span<>
        .side-bar__header__box__menu__edit-user
        = link_to "#", class: "contents__btn" do
          = icon("fas", "cog", class: "contents__btn--icon")
          %span<>
  .side-bar__groups
    .side-bar__groups__name
      = link_to "#", class: "groups__btn" do
        テックキャンプ７７期
    .side-bar__groups__message
      まだメッセージがありません
